/* CSS for MusicStaffXBlock */

.musicstaff_block a.tutorial {
    font-weight: bold;
}

.musicstaff_block .question {
    font-style:italic;
}

.musicstaff_block .error {
    color:red;
}

.musicstaff_block textarea {
    min-height:200px;
}